body 
{
   font-family: 'Titillium Web', sans-serif;
   font-size:16px;
   margin: 0;
   padding: 0;
   background-color: #d7d7d7;
}

a
{
 font-weight: bold; 
}

a:link, a:visited, a:active	
{
 color: #215888;
 text-decoration:none; 
 font-weight: bold; 
} 

a:hover 
{
   color:#ff7620;
}

img
{
   border:0px;
}

.container strong
{
   font-weight: 400;
}

.container
{
   max-width: 50em;
   margin-top: 2em;
   margin-bottom: 2em;
   text-align: justify;
   border-width: 1px;
   border-style: solid;
   border-color: #000;/*cbc6b7;*/
   background-color: #e8e8e8;
   margin-right: auto;
   margin-left: auto;
   padding-bottom: 2em;  
   border-radius: 1em; 
}

#promotion
{
   display: flex;
   align-items: center;
   float:right;   
}


#name
{
   font-size: 4.5em;
   text-align: center;
   color: #000;
}

#main 
{
   margin-bottom: 50px;
   margin-top: 25px;
}

#main * li {
   margin-top: 0.7em;
   list-style: square;
}

.header
{
   font-size: 1.75em;
}

.job_position_header {
   font-size: 1.3em;
   background-color: #fff;
   color: #0066cc;
   padding-left: 1.35em;
   margin-top: 1.3em;
}

.job_company_desc {
   padding-left: 1.75em;
   padding-right: 2em;
}

.job_position
{
   background-color: #f0f0f0;
   padding-left: 1.75em;
   margin-bottom: 0.25em;
}

.content {
   padding-left: 2em;
   padding-right: 2em;
}

.job_content {
   margin-left: 1.75em;
   padding-right: 2em;

 }
 

#menu {  
   float:right;
   width: 160px;
   border-left: 1px solid #416470;
   padding-left: 10px;
   margin-top:0px;
}

.dates
{
   color: #215888;
}
