body 
{
   font-family:  'Trebuchet MS', Verdana, Arial;
   font-size:14px;
   margin: 0;
   padding: 0;
   background-color: #161616;
   background:url(../img/back_dark.png);
}

a
{
 font-weight: bold; 
}

a:link, a:visited, a:active	
{
 color: #7B0C0C;
 text-decoration:none; 
 font-weight: bold; 
} 

a:hover 
{
   color:#416470;
}

img
{
   border:0px;
}
h1 
{
   color: #7B0C0C;
}

.container strong
{
   color:#222;
}

.container
{
   max-width: 660px;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: justify;
   border-width: 2px;
   border-style: solid;
   border-color: #000;/*cbc6b7;*/
   background-color: #eaeaea;
   margin-right: auto;
   margin-left: auto;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;  
   -moz-box-shadow: 5px 5px 4px #100;
   -webkit-box-shadow: 5px 5px 4px #100;
   box-shadow: 5px 5px 4px #100;
}

#promotion
{
   padding-left: 25px;
   padding-top: 10px;
   float:right;   
}


#name
{
   border: none;
   font-weight: normal;
   font-family:  'Trebuchet MS', Verdana, Arial;
   font-size:40px;
   letter-spacing: 0.35em;
   text-align: center;
   word-spacing: 0.5em;
   color: #fff;
   text-shadow: 5px 1px 2px #111;
}

#main 
{
   margin-bottom: 50px;
   margin-top: 25px;
}

#main * li::before {
   content: "\27ab";
   margin-right: 0.5em;
   font-size: 0.9em;
}

#main * li {
   margin-top: 0.7em;
   list-style: none;
}

.header
{
   font-size: 1.75em;
   font-weight: normal;
}

.job_position
{
   font-size: 1.20em;
   font-weight: normal;
   background-color: #fff;  
   margin-left: -35px;
   margin-right: -25px;
   padding-left: 20px;
   padding-right: 0px;   

   -moz-border-radius: 25px;
   -webkit-border-radius: 25px; 
   border-radius: 25px; 

   -moz-border-top-right-radius: 0px;   
   -webkit-border-top-right-radius: 0px;   
   border-border-top-right-radius: 0px;   

   -moz-border-bottom-right-radius: 0px;   
   -webkit-border-bottom-right-radius: 0px;   
   border-border-bottom-right-radius: 0px;   
}

#menu {
   float:right;
   width: 160px;
   border-left: 1px solid #416470;
   padding-left: 10px;
   margin-top:0px;
}

.dates
{
   color: #7B0C0C;
   font-style: italic;
   font-weight: bold;
}
